{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>정성폰에 오신 것을 환영합니다.</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/> <!--스와이퍼-->
        <link rel="stylesheet" type="text/css" href="{% static 'style_sub.css' %}"> <!--개인 스타일 시트-->
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}"> <!--부트스트랩-->
        
        <script src="{% static 'jquery-3.4.1.min.js' %}"></script>
        <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    </head>
    <body>
        
        <div class="container-md my-3 top_area">
            <div class="row justify-content-md-center">
                <div class="top">
                    <div class="logo">
                        <a class="row justify-content-md-center" href="{%url 'main' %}"><img src="/static/images/PhoneLogo.png"  alt="로그인 로고" /></a>
                    </div>
                    <div class="top_nav">
                        <nav>
                            <ul>
                                <a href="{%url 'device' %}"><li>스마트폰</li></a>
                                <a href="{%url 'advance' %}"><li>사전예약</li></a>
                                <a href="{%url 'hotdeal' %}"><li>핫딜</li></a>
                                <a href="{%url 'information' %}"><li>이용안내</li></a>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div> 
        </div>

         
        
{% block content %}
{% endblock %}
        
        <div class="footer">
            <div class="container-md my-3 inner">
                <div class="row m_footer">
                    <div class="left"> 
                        <div class="info">
                            <p><span>상호 </span>영웅TMC</p>
                            <p><span>주소</span> 서울특별시 노원구 동일로 191가길 67 , 3층</p>
                            <p><span>대표</span> 한웅진,유대영</p>
                            <p><span>고객센터</span> 070-4350-6893 </p>
                        </div>
                        <div class="a_info">
                            <p><span>사업자 등록 번호</span> 527-09-02641</p>
                            <p><span>통신판매업신고</span> 2023-서울노원-1048 </p>
                        </div>
                        
                    </div>
                    
                    <div class="right">
                        <a href="https://www.ictmarket.or.kr:8443/precon/pop_CertIcon.do?PRECON_REQ_ID=PRE0000174367"target="_blank"><img style="cursor:pointer; "src="https://www.ictmarket.or.kr:8443/getCertIcon.do?cert_icon=KP23062765563R001"></a>
                    </div> <!--사전승낙판매점-->
                </div>
            </div>
        </div> <!--Footer 영역-->
    </body>
    
    <script type="text/javascript">

        let WindowWidth = $(window).width();
        let Windowheight = $(window).height();

        if(WindowWidth > 767){ // window 사이즈 일 경우 부트스트랩 아래 클래스를 적용한다.
            $('.left').addClass('col-10');
            $('.right').addClass('col-2');
            $('.inner').addClass('text-center');
            $('.advance_list_area').addClass('row-cols-2');
        }
        else{
            $('.advance_list_area').addClass('row-cols-1');
            $('.information_chart > div').addClass('row-cols-2');
        }

        

    </script>
</html>