{% extends "sub_main.html" %}
{% load static %}

{% block content %}
<div class="advance container-md text-center">
    <div class="PhoneTitle text-center">
        <p>좋은건 미리 준비하는 법</p>
        <h1>사전예약 ZONE</h1>
    </div>
    <div class="advance_list_area row row-cols-2">
        <div class="advance_list col">
            <div class="advance_list_img">
                <img src="/static/images/Z3.jpg" class="img-fluid" alt="제트플립사전예약" />
            </div>
            <div class="advance_list_title">
                <h2>갤럭시 Z Flip3, Z Fold3 사전예약</h2>
            </div>
            <div class="advance_list_tag">
                <div class="advance_tag"><span>사전예약</span></div>
                <div class="advance_state"><span>종료</span></div>
            </div>
            <dib class="advance_list_button">
                <span>자세히보기</span>
                
            </div>
        </div>
    </div>
</div>

{% endblock %}




