{% extends "main.html" %}
{% load static %}

{% block content %}
        
        <div class="swiper-container imgSlide">

            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="mainslide01"></div>
                </div>
                <div class="swiper-slide">
                    <div class="mainslide02"></div>
                </div>
                <div class="swiper-slide">
                    <div class="mainslide03"></div>
                </div>
            </div>

            <!-- 페이징 -->
            <div class="swiper-pagination SlideBulit"></div>
        </div>


        <div class="Best container-md">
            <div class="BestTitle">
                <h1><span>BEST </span>스마트폰 5</h1>
                <p>정성폰에서 가장 잘나가는 <br> 베스트 스마트폰을 소개해드립니다.</p>
            </div>
            <div class="BestIMG_area">
                <div class="BestIMG"></div> <!--이미지 영역-->
            </div>
        </div> 



        <!--이벤트 영역-->
        <div class="Event container-md text-center">
            <a href="{%url 'hotdeal' %}"><img src="/static/images/hotdeal.jpg" class="img-fluid" alt="휴대폰 정보" /></a>
        </div> 


{% endblock %}