{% extends "sub_main.html" %}
{% load static %}

{% block content %}
<div class="container-md text-center">
    <div class="PhoneTitle">
        <p>특별한 혜택이 가득!</p>
        <h1><span>특별혜택</span> 스마트폰</h1>
    </div>
    <div class="List">
        <img src="/static/images/smart01_r.png" class="img-fluid" alt="휴대폰 정보" />
        <img src="/static/images/smart02_r.png" class="img-fluid" alt="휴대폰 정보" />
        <img src="/static/images/smart03_r.png" class="img-fluid" alt="휴대폰 정보" />
        <img src="/static/images/smart04_r.png" class="img-fluid" alt="휴대폰 정보" />
    </div>
    <div class="subsidy ">
        <div class="subsidy_bg">
            <a class="lsubsidy_link" href="https://shop.tworld.co.kr/notice"><div class="subsidy_button01"><span>SKT 바로가기</span></div></a>
            <a class="lsubsidy_link" href="https://shop.kt.com/smart/supportAmtList.do"><div class="subsidy_button02"><div>KT 바로가기</div></div></a>
            <div class="subsidy_button03"><div>요금제 비교하기</div></div>
        </div>
    </div>
</div>

{% endblock %}




